


     
      <td class="text-light" ><%= book.title %></td>
      <td class="text-light" ><%= book.author %></td>
      <td class="text-light">  <%= book.pages %></td>
      <td class="text-light" ><%= book.withdraw %></td>
  
    
 
