<div class="container-fluid" >
  <div class="row text-center bg-bg-primary justify-content-center" style="height:100vh"> 
    <div class="w-auto   border border-5 my-4 border-light">
      <h1 class="text-light mt-md-5">Editing book</h1>

      <%= render "form", book: @book %>

      <br>

    <div class="">
      <%= link_to "Show this book", @book, class:"btn btn-warning mx-md-5" %>
      <%= link_to "Back to books", books_path,class:"btn btn-warning mx-md-5 " %>
    </div>
    </div>
</div>
</div>
