
<div class="container">
<div align="center"class="row bg-dark" > 
<h1 class="text-light">New book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Back to books", books_path %>
</div>
</div>
</div>
